.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    height: 50px;
    background-color: aquamarine;
    color: white;
    margin: 5px;
}

.col-2 {
    flex: 2;
    height: 50px;
    background-color: aquamarine;
    color: white;
    margin: 5px;
}

.col-3 {
    flex: 3;
    height: 50px;
    background-color: aquamarine;
    color: white;
    margin: 5px;
}